.container{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    color: aliceblue;
}
.box{
    height: 200px;
    width: 120px;
    
    border: 2px solid black;
}
.con{
    display: flex;
    justify-content: center;
}
#box1{
    background-color: rgb(90, 90, 90);
}
#box2{
    background-color: rgb(4, 86, 31);
}
#box3{
    background-color: rgb(7, 109, 14);
}
#box4{
    background-color:rgb(8, 255, 4) ;
}
#box5{
    background-color:rgb(204, 130, 233) ;
}
#box6{
    background-color:rgb(212, 146, 59) ;
}
#box7{
    background-color:rgb(255, 2, 2) ;
}
#box8{
    background-color:rgb(180, 52, 230) ;
}
#box9{
    background-color:rgb(36, 45, 101) ;
}
#box10{
    background-color:rgb(45, 2, 62) ;
}
#box11{
    background-color:rgb(8, 12, 34) ;
}
#box12{
    background-color:rgb(0, 19, 139) ;
}
.cont{
    display: flex;
    justify-content: center;
}
#box13{
    background-color:rgba(0, 38, 255, 0.851) ;
}
#box14{
    background-color:rgb(25, 255, 106) ;
}
#box15{
    background-color:rgb(222, 149, 40) ;
}
#box16{
    background-color:rgb(196, 0, 0) ;
}
#box17{
    background-color:rgb(71, 0, 0) ;
}
#box18{
    background-color:rgb(6, 192, 249) ;
}
#box19{
    background-color:rgb(127, 248, 97) ;
}
#box20{
    background-color:rgb(51, 1, 101) ;
}
#box21{
    background-color:rgb(168, 10, 166) ;
}
#box22{
    background-color:rgb(255, 10, 230) ;
}
body{
    background-color: black;
}

